<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LuluCSS - Landing page</title>
    <link rel="stylesheet" href="../../lulu.css">
  </head>
  <body class="padding-2" style="background: url('./bg.jpg') no-repeat center center fixed; background-size: cover;">
	<div class="center-container padding-2 round" style="margin-top: 30vmin; background-color: rgba(255, 255, 255, 0.85); padding-top: 1em; padding-bottom: 1em;">
      <div style="padding-left: 10vw; padding-right: 10vw" class="text-center very-large padding-4">
        A simple and small yet responsive CSS framework.
      </div>
      <div class="text-center very-large padding-4" style="margin-top: 1em">
        <a class="button3 round" href="#" style="width: auto;">Download</a>
      </div>
      <div class="flex-wrap-grids mw-40 auto-margin" style="margin-top: 3em">
        <div class="flex-grids-wrap-row-3 flex-center">
          <div class="flex-wrap-cell text-center">
            <p class="title">Small</p>
            <p class="small">
              Fits into less than 12kB of readable CSS.
            </p>
          </div>
          <div class="flex-wrap-cell text-center">
            <p class="title">Simple</p>
            <p class="small">
              Achieve results quickly. No build tools necessary. 
              Supports different grid layouts. 
            </p>
          </div>
          <div class="flex-wrap-cell text-center">
            <p class="title">Responsive</p>
            <p class="small">
              Scales well across different display devices. Sizes are based on <i>em</i>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
