<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LuluCSS - Landing page</title>
    <link rel="stylesheet" href="../../lulu.css">
  </head>
  <body>
	<div class="center-container padding-2" style="margin-top: 30vmin">
      <div style="padding-left: 10vw; padding-right: 10vw" class="text-center very-large padding-4">
        Lorem ipsum et dolore sit amen ipsum est lorem.
      </div>
      <div class="text-center very-large padding-4" style="margin-top: 1em">
        <a class="button2 round" href="#" style="width: auto;">Loremsum</a>
      </div>
      <div class="flex-wrap-grids mw-40 auto-margin" style="margin-top: 3em">
        <div class="flex-grids-wrap-row-3 flex-center">
          <div class="flex-wrap-cell text-center">
            <p class="title">Ipsum</p>
            <p class="small">
              Ipsum lorem? Est ipsum sit amet di loremum.
            </p>
          </div>
          <div class="flex-wrap-cell text-center">
            <p class="title">Lorem</p>
            <p class="small">
              Lorem est lorem est ipsum sit amit et dolore sit
              ipsum est amet lorem. 
            </p>
          </div>
          <div class="flex-wrap-cell text-center">
            <p class="title">Amet</p>
            <p class="small">
              Consetur ut labore et accusam clita rebum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
